<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ask Her Out</title>

  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <div class="container">
    <img src="./no3.gif" class="gif-image" alt="Peach Goma Phone Sticker" />

    <h1>Please say yes, <span id="recipient-name">Beautiful</span>! I made this page with a lot of effort! 😭</h1>
    <p>This is really not fair! 😭</p>

    <div class="btn">
      <a href="yes.html">Yes</a>
      <a href="#" id="move-random">No</a>
    </div>
  </div>

  <script src="./script.js"></script>
</body>

</html>
