<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Propose her</title>

  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <div class="container">
    <img src="./manja.gif" class="gif-image" alt="Manja Sticker" />
    <h1><span id="recipient-name">Beautiful</span>, do you love me? 🤗</h1>
    <p><span id="sender-name">Someone</span> is all yours</p>

    <div class="btn">
      <a href="yes.html">Yes</a>
      <a href="no1.html">No</a>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>
