<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ask Her Out</title>

  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <div class="container">
    <img src="./no2.gif" class="gif-image" alt="Couple Forgive Me Sticker" />

    <h1>Think about it one more time, <span id="recipient-name">Beautiful</span>! 😣</h1>
    <p>Why are you doing this? Please say yes! 😣</p>

    <div class="btn">
      <a href="yes.html">Yes</a>
      <a href="no3.html">No</a>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>
