<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ask her out</title>

  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <div class="container">
    <img src="./yes.gif" class="gif-image" alt="Mochi Cat GIF" />
    <h1>I knew it! I love you so much, <span id="recipient-name">Beautiful</span>💗</h1>

    <div class="message-box" id="message-box" style="display: none;">
      <p id="custom-message"></p>
      <p class="sender-signature">— With Love, <span id="sender-name">Someone</span></p>
    </div>
  </div>
  <script src="./script.js"></script>
</body>

</html>
