<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday</title>
    <meta name="description" content="A special surprise website filled with love, memories, and heartfelt moments just for you💕" />
    <script type="module" crossorigin src="./assets/index-DzAV_H9e.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-Cx2EC1QH.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
